<center><h1>Editing notice</h1></center>
<br>
<%= render "form", notice: @notice %>

<br>

<div>
  <%= link_to "Show this notice", @notice, class: "btn btn-primary" %> |
  <%= link_to "Back to notices", notices_path, class: "btn btn-primary" %>
</div>
