
</br></br><h1>Notice Board Management System</h1>
</br></br><p>Notice Board System is a simple Ruby on Rails project that can manage and display notices for students in colleges. The program was developed using Ruby, Rails, Bootstrap. This web application contains CRUD (Create, Read, Update, and Delete) Operations which are common functions that are usually used on developing a web application with a database. This application also uses the Bootstrap plugin/library to have a pleasant user interface.</p>
