<div id="page-content">
	<div class="container">
		<div class="jumbotron text-center text-black">
			<h1 class="dislay-4">Notice Board Management System</h1>
			<p>Notice Board System is a simple Ruby on Rails project that can manage and display notices for students in colleges. The program was developed using Ruby, Rails, Bootstrap. </p>
			<hr class="my-4">
			<p>This web application contains CRUD (Create, Read, Update, and Delete) Operations which are common functions that are usually used on developing a web application with a database. This application also uses the Bootstrap plugin/library to have a pleasant user interface.</p>
			<br><a class="btn btn-success btn-lg" href="#" role="button">Sign Up!</a> 
			<a class="btn btn-secondary btn-lg" href="#" role="button">Log In!</a>
		</div>
	</div>
</div>

